aiofiles
aiohttp
aiosignal
art
async-generator
async-timeout
attrs
certifi
cffi
charset-normalizer
exceptiongroup
frozenlist
h11
idna
multidict
outcome
pycparser
PySocks
requests
selenium
sniffio
sortedcontainers
trio
trio-websocket
urllib3
wsproto
yandex-music
yarl
selenium==4.9.0
webdriver-manager